<tr class="{CSS_ROW}">
    <td class="std">
        <input type="checkbox" name="run_ids[]" value="{RUN_ID}" />
    </td>
    <td class="std">
        {INDEX}
    </td>
    <td class="std">
        {DETAILS}
    </td>
    <td class="std">
        {USERS_ASSIGNED}
    </td>
    <td class="std">
        <!-- BEGIN users_satisfied -->
        <img src="{USERS_SATISFIED_IMAGE}" title="{USERS_SATISFIED_STATUS}" alt ="{USERS_SATISFIED_STATUS}" /> {USERS_SATISFIED}
        <!-- END users_satisfied -->
    </td>
    <td class="std">
        <!-- BEGIN items_satisfied -->
        <img src="{ITEMS_SATISFIED_IMAGE}" title="{ITEMS_SATISFIED_STATUS}" alt ="{ITEMS_SATISFIED_STATUS}" /> {ITEMS_SATISFIED}
        <!-- END items_satisfied -->
    </td>
</tr>