<tr class="{CSS_ROW} ilCombiSubscriptionRow">
    <td class="std" data-orig-color="">
        <div>{TITLE}</div>
        <!-- BEGIN description -->
        <div class="small">{DESCRIPTION}</div>
        <!-- END description -->
        <div class="small"><span class="notice">{LIMITS}</span></div>
    </td>
    <td class="std container" data-orig-color="">
        <!-- BEGIN option -->
        <div class="row">
            <div class="col-md-4">
                    <input type="radio" id="option{ITEM_ID}_{PRIORITY}" name="priority[{ITEM_ID}]" value="{PRIORITY}" {CHECKED} {DISABLED}>
                    <label for="option{ITEM_ID}_{PRIORITY}">{TEXT}</label>
            </div>
            <div class="col-md-8">
                <!-- BEGIN progress_top -->
                <div class="progress_not">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{PERCENT}" aria-valuemin="0" aria-valuemax="100" style="width:{PERCENT}% ">{COUNT}</div>
                </div>
                <!-- END progress_top -->
                <!-- BEGIN progress -->
                <div class="progress_not">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{PERCENT}" aria-valuemin="0" aria-valuemax="100" style="width:{PERCENT}%; background-color: rgba(76, 101, 134, 0.41);">{COUNT}</div>
                </div>
                <!-- END progress -->
            </div>
        </div>
        <!-- END option -->
    </td>
</tr>