<tr class="{CSS_ROW}">
    <td class="std">
        <input type="checkbox" name="ids[]" value="{ID}" />
    </td>

    <td class="std">
        <!-- BEGIN user_fixed -->
            <strong>{USER_FIXED}</strong>
        <!-- END user_fixed -->
        <!-- BEGIN user -->
            {USER}
        <!-- END user -->
    </td>
    <td class="std">
        <!-- BEGIN user_result -->
        <img src="{RESULT_IMAGE}" title="{RESULT_TITLE}" alt ="{RESULT_TITLE}" />
        <!-- END user_result -->
    </td>
    <!-- BEGIN item -->
    <td class="std" style="{PRIO_COLOR}">
        <input type="{TYPE}" name="assignment[{USER_ID}][]" value="{ITEM_ID}" {CHECKED} {DISABLED} /> {RUNS}
     </td>
    <!-- END item -->
    <!-- BEGIN not_assigned -->
    <td class="std">
        <input type="radio" name="assignment[{USER_ID}][]" value="not" {CHECKED} {DISABLED} /> {RUNS}
    </td>
    <!-- END not_assigned -->
</tr>